.test {
    -fx-background-color: #32a850;
}
.selected {
    -fx-text-fill: #b11010;
    -fx-font-size: 25px;
}
.label{
    -fx-border-radius: 2;
    -fx-border-color: black;
}
#currentlySelectedLabel{
    -fx-text-fill: pink;
}